body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.parent-block {
    position: relative;
}

.block {
    width: 200px;
    padding: 20px;
    margin: 10px;
    color: #fff;
}

.block-header {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Кольори фону для блоків 1-4 */
.block1 {
    background-color: #231b8d;
}

.block2 {
    background-color: #2b094e;
}

.block3 {
    background-color: #4f0d0d;
}

.block4 {
    background-color: #580e55;
}

/* Колір тексту */

.block1 h1 {
  color: #ffffff;
}
.block2 h1 {
  color: #000000;
}
.block3 h1 {
  color: #ffffff;
}
.block4 h1 {
  color: #000000;
}
