body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parent-block {
    position: relative;
}

.block {
    width: 200px;
    padding: 20px;
    margin: 10px;
    color: #fff;
}

.block-header {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Кольори фону для блоків 1-4 */
.block1 {
    background-color: #FFD700;
}

.block2 {
    background-color: #8FBC8F;
}

.block3 {
    background-color: #87CEFA;
}

.block4 {
    background-color: #FFA07A;
}
